{% load static %}
{% load text_cleaner %}
<footer class="footer-area">
    <div class="footer-shape">
        <img src="{% static 'img/shape/03.png' %}" alt="">
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">

                <!-- ABOUT SECTION -->
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="{% static 'img/course/logoo.png' %}" alt="logo">
                        </a>

                        <p class="mb-3">
                            Woodland Institute of Nursing is committed to excellence in nursing education
                            and clinical training, preparing compassionate healthcare professionals.
                        </p>

                        {% if organization %}
                        <ul class="footer-contact">
                            <li>
                                <a href="tel:{{ organization.contact_no }}">
                                    <i class="far fa-phone"></i> {{ organization.contact_no }}
                                </a>
                            </li>
                            <li>
                                <!--<i class="far fa-map-marker-alt"></i> {{ organization.address_name }}-->
                                <i class="far fa-map-marker-alt"></i> {{ organization.address_name|clean_text }}
                            </li>
                            <li>
                                <a href="mailto:{{ organization.email_id }}">
                                    <i class="far fa-envelope"></i> {{ organization.email_id }}
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <!-- DYNAMIC FOOTER SECTIONS -->
                {% for section in footer_sections %}
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">
                            {{ section.name }}
                        </h4>

                        <ul class="footer-list">
                            {% for link in section.links.all %}
                            <li>
                                <a href="{{ link.url }}">
                                    <i class="fas fa-caret-right"></i>
                                    <!--{{ link.title }}-->
                                    {{ link.title|clean_text }}
                                </a>
                            </li>
                            {% empty %}
                            <li>No links added yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrapper">
                <div class="row">

                    <!-- LEFT SIDE -->
                    <div class="col-md-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span>
                            <!--<a href="#"> {{ organization.heads }} </a>-->
                            <a href="#"> {{ organization.heads|clean_text }} </a>
                            All Rights Reserved.
                            <br>
                            Designed and Developed by 
                            <strong>CTech Solution</strong>
                        </p>
                    </div>

                    <!-- RIGHT SIDE (WHATSAPP ONLY) -->
                    <div class="col-md-6 align-self-center text-md-end">
                        <ul class="footer-social">
                            <li>
                                <a href="https://wa.me/918257081608" target="_blank">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>