 <div class="hero-section">
            <div class="hero-slider owl-carousel owl-theme">
                {% for s in slider %}
             
                <div class="hero-single" style="background: url({{ s.slider_image.url }});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-7">
                                <div class="hero-content">
                                    <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                        <i class="far fa-book-open-reader"></i>{{ s.header }}
                                    </h6>
                                    <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        {{ s.title|safe }}
                                      
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        {{ s.details }}                                        
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            {% endfor %}

             
        </div>