{% extends 'details.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{# ✅ ADD THESE BACK #}
{% block menus %} Gallery {% endblock %}
{% block module %} Gallery {% endblock %}
{% block activemenus %} Gallery {% endblock %}

{% block contents %}

<div class="gallery-wrapper">
    <div class="gallery-container popup-gallery">

        {% if gallery_items %}
            {% for item in gallery_items %}

                <div class="gallery-item">
                    <a href="{{ item.image.url }}" class="popup-img">
                        <img 
                            src="{{ item.image.url }}" 
                            alt="{{ item.heads }}"
                            loading="lazy">
                    </a>

                    {% if item.description %}
                    <div class="gallery-caption">
                        <p>{{ item.description|safe }}</p>
                    </div>
                    {% endif %}
                </div>

            {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}